<div class="mt-20 space-y-6">
  <h3 class="text-lg font-semibold">Classement</h3>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-300 rounded-lg">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Rang</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Nom</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">MBTI</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% if (orders.length <= 0) { %>
          <tr>
            <td colspan="3" class="px-4 py-2 text-center text-sm text-gray-500">Aucun joueur trouvé</td>
          </tr>
        <% } %>
        <% orders.forEach(order => { %>
          <tr>
            <td class="px-4 py-2 text-sm text-gray-700"><%= order.date %></td>
            <td class="px-4 py-2 text-sm text-gray-700"><%= order.id %></td>
            <td class="px-4 py-2 text-sm text-gray-700">
              <% order.products.forEach(p => { %>
                <ul class="list-disc list-inside">
                  <li><%= p.product.title %> (<%= p.quantity %>)</li>
                </ul>
              <% }); %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
