<%- include('../includes/Head.ejs') %>
</head>

<body>
  <%- include('../includes/Nav.ejs') %>

  <main>
    <%- include('../includes/product-list.ejs') %>
  </main>
<%- include('../includes/end.ejs') %>