<%- include("../includes/Head.ejs") %>
</head>

<body>
  <%- include("../includes/Nav.ejs") %>

    <main class="container mx-auto p-6 bg-gray-100 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-blue-600 mb-4 flex items-center">
            <i class="fas fa-heartbeat text-red-500 mr-2"></i>Santé
        </h1>
        <p class="text-lg text-gray-700 mb-4">
            <i class="fas fa-info-circle text-blue-500 mr-2"></i>Bienvenue sur notre page dédiée à la santé. Ici, vous trouverez des informations, des conseils et des produits sélectionnés pour prendre soin de votre santé et bien-être.
        </p>
    </main>

    <%- include("../includes/end.ejs") %>
